{
	"extends": [
		"lisk-base"
	],
	"plugins": [
		"import"
	],
	"globals": {
		"PRODUCTION": true,
		"TEST": true
	},
	"env": {
		"node": true,
		"jest": true
	},
	"rules": {
		"func-names": "off",
		"global-require": "off",
		"new-cap": ["error", {
			"newIsCap": false,
			"capIsNew": false
		}],
		"no-loop-func": "off",
		"no-plusplus": "off",
		"no-restricted-properties": "off",
		"no-return-assign": "off",
		"no-underscore-dangle": "off",
		"import/no-extraneous-dependencies": ["error",
		{
			"devDependencies": true,
			"optionalDependencies": false,
			"peerDependencies": false
		}
		],
		"no-param-reassign": "off",
		"camelcase": [ "error", { "properties": "never" }],
		"quote-props": "error"
	}
}
