## Common Docker configuration

# Service broker
# SERVICE_BROKER=redis://redis_common:6379/0

# Lisk Service log config
# SERVICE_LOG_CONSOLE=false
# SERVICE_LOG_FILE=false
# SERVICE_LOG_GELF=false
# SERVICE_LOG_LEVEL=debug
# SERVICE_LOG_STDOUT=true

## Lisk Service Core

# Lisk static assets, ie. known account lists
LISK_STATIC=https://static-data.lisk.com

# Lisk Service geolocation backend (empty = disabled)
GEOIP_JSON=

# Create search index (0 = full index)
INDEX_N_BLOCKS=0

# Use default genesis block height
# GENESIS_HEIGHT=0
# FEE_EST_DEFAULT_START_BLOCK_HEIGHT=0

# Fee estimator
ENABLE_FEE_ESTIMATOR_QUICK=true
ENABLE_FEE_ESTIMATOR_FULL=false

# Transaction statistics
ENABLE_TRANSACTION_STATS=true
TRANSACTION_STATS_HISTORY_LENGTH_DAYS=366

# Log debug messages
#DEBUG=*dynamicFees*

# Lisk ecosystem configuration
LISK_CORE_WS=ws://host.docker.internal:8080

# Websocket rate limit config
WS_RATE_LIMIT_ENABLE=false
WS_RATE_LIMIT_CONNECTIONS=5
WS_RATE_LIMIT_DURATION=1 # in seconds

# HTTP rate limit config
HTTP_RATE_LIMIT_ENABLE=false
HTTP_RATE_LIMIT_CONNECTIONS=200
HTTP_RATE_LIMIT_WINDOW=10 # in seconds

## Lisk Service Gateway

# PORT=9901
# HOST=0.0.0.0

# Enabled Gateway APIs
ENABLE_HTTP_API=http-status,http-version2
ENABLE_WS_API=blockchain,rpc-v2

# HTTP API caching config
ENABLE_HTTP_CACHE_CONTROL=false
HTTP_CACHE_CONTROL_DIRECTIVES=public,max-age=10

# Websocket rate limit config
ENABLE_WS_RATELIMIT=false
WS_RATELIMIT_POINTS=5
WS_RATELIMIT_DURATION=1 # in seconds

## Lisk Service Market

# Currency pairs
SERVICE_MARKET_FIAT_CURRENCIES=USD
SERVICE_MARKET_TARGET_PAIRS=LSK_BTC,LSK_USD

## Lisk Service Newsfeed

# Sources
#SERVICE_NEWSFEED_ENABLE_SOURCES=drupal_lisk_general,drupal_lisk_announcements,twitter_lisk

# Twitter authentication
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
