version: "3"
services:

  mysql-primary:
    image: mysql:8
    container_name: mysql-primary
    platform: linux/amd64
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max_connections=500
    volumes:
      - ../../docker/mysql/primary/conf/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - mysql-primary-data:/var/lib/mysql
      - ../../docker/mysql/primary/init:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - services_network
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=lisk
      - MYSQL_PASSWORD=password
    ports:
      - "127.0.0.1:3306:3306"
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-hlocalhost",
          "-ppassword"
        ]

  mysql-read-replica:
    image: mysql:8
    depends_on:
      mysql-primary:
        condition: service_healthy
    platform: linux/amd64
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max_connections=500
    volumes:
      - ../../docker/mysql/read/conf/mysql.cnf:/etc/mysql/conf.d/mysql.cnf
      - ../../docker/mysql/read/init:/docker-entrypoint-initdb.d
    restart: always
    expose:
      - "3306"
    networks:
      - services_network
    deploy:
      mode: replicated
      replicas: 2
      endpoint_mode: vip
    environment:
      - MYSQL_ROOT_PASSWORD=password
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-hlocalhost",
          "-ppassword"
        ]

  mysql-read-replica-haproxy:
    image: nginx:latest
    depends_on:
      mysql-read-replica:
        condition: service_healthy
    volumes:
      - ../../docker/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "127.0.0.1:3307:3307"
    networks:
      - services_network
    healthcheck:
      test: [ "CMD", "service", "nginx", "status" ]

networks:
  services_network:


volumes:
  mysql-primary-data:
