version: '3.3'
services:
  redis_service_dev:
    image: redis:7-alpine
    volumes:
      - ./redis.volatile.conf:/etc/redis/redis.conf:ro
    ports:
      - '6381:6379'
    restart: always
    command: redis-server /etc/redis/redis.conf
    healthcheck:
      test: redis-cli ping
