version: "3"
services:
  newsfeed:
    image: lisk/service_newsfeed
    depends_on:
      - redis_common
      - mysql_newsfeed
    networks:
      - services_network
      - newsfeed_network
    restart: always
    env_file:
      - ./lisk-service/env/common.env
      - ./lisk-service/env/newsfeed.env

  mysql_newsfeed:
    image: mysql:5.7
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always
    networks:
      - newsfeed_network
    env_file:
      - ./lisk-service/env/mysql.env
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql-data:

networks:
  newsfeed_network:
